      </div>
      <footer class="footer container-fluid text-center">
        <div class="row justify-content-center">
          <p class="text-muted align-self-center m-0">
            &copy; <span class="header-logo">YelpCamp</span> 2019 | 
            <a href="/campgrounds">Home</a> | 
          </p>
        </div>
      </footer>
    </div>
    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="/scripts/showPage.js"></script>
    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
  </body>
</html>